body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
}


.header {
    display:flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-evenly;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .linksheader {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}